body {
    background-color: #f0f8f7; /* Light greenish background */
    overflow: hidden;
}

#form {
    background-color: #f5fcf9; /* Light green */
    width: 30%;
    border-radius: 8px;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light black shadow */
}

h1 {
    text-align: center;
    color: #008000; /* Green */
}

input {
    width: 90%;
    border: 1px solid #008000; /* Green border */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000; /* Black text */
}

input:focus {
    border-color: #006400; /* Darker green on focus */
}
#btn{
    width: 100%;
    color: white;
    background-color: #008000;
    padding: 10px;
    font-size: large;
    border-radius: 13px;
}